<html>
	<head>
		<title>Can Jordi</title>
	</head>
	<body>
		<div>
			<h1><a href="">Blog d'en Jordi</a></h1>
		</div>
		{% for post in posts %}
		<div>
			<p>published: {{post.published_date}}</p>
			<h1><a href="">{{post.title}}</a></h1>
			<p>{{ post.text| linebreaksbr }} </p>
		</div>
		{% endfor %}
		<div>
			<p>publicat: avui havent dinat</b>
			<h2><a href="">My first post</a></h2>
			<p> Considerant que els pensaments no paguen <br /> per ara almenys, impostos, i també <br /> 
			tenint en compte que el risc de pensar <br /> només posa en perill aquell que pensa...</p>
		</div>
		<div>
			<p>Hola sóc en Jordi</p>
			<p>publicat: just després</b>
			<h2><a href="">My second post</a></h2>
			<p>No fa tanta por la mort, és fugir, i arribar a una immensa platja d'or...<br />
			Per no tornar a morir, per no tornar a marxar.</p>
		</div>
	</body>
</html>